<header class="main-header d-flex flex-wrap">
  <a
    class="col-6 col-lg-auto mb-2 mb-lg-0 me-lg-auto logo"
    routerLink="/courses"
  >
    <img src="../../../../assets/logo.svg" alt="App courses logo" />
  </a>

  <div class="text-end">
    <ng-container *ngIf="authorized === true; else noAuthorized">
      <h2>{{ userName }}</h2>
      <app-button [text]="'Logout'" (onClick)="logout()"></app-button>
    </ng-container>
    <ng-template #noAuthorized>
      <app-button [text]="'Login'" link="login"></app-button>
    </ng-template>
  </div>
</header>
<app-modal
  [title]="'Message'"
  [message]="'Message text'"
  [okButtonText]="'ok'"
  [cancelButtonText]="'close'"
></app-modal>
