<div class="course-card">
  <h3 class="course-title">{{ title }}</h3>
  <div class="row">
    <div class="col-12 col-sm-8">
      <p>
        {{ description }}
      </p>
    </div>
    <div class="col-12 col-sm-4">
      <ul class="course-feature">
        <li>
          <span>Authors:</span>
          {{ authors }}
        </li>
        <li>
          <span>Duration:</span>
          {{ duration | duration }}
        </li>
        <li>
          <span>Created:</span>
          {{ creationDate | creationDate }}
        </li>
      </ul>
      <div class="course-controller">
        <app-button link="/course/1" text="SHOW COURSE"></app-button>
      </div>
    </div>
  </div>
</div>
