<div class="course-card">
  <h3 class="course-title">{{ title }}</h3>
  <div class="row">
    <div class="col-12 col-sm-8">
      <p>
        {{ description }}
      </p>
    </div>
    <div class="col-12 col-sm-4">
      <ul class="course-feature">
        <li>
          <span>Authors:</span>
          {{ authors }}
        </li>
        <li>
          <span>Duration:</span>
          {{ duration | duration }}
        </li>
        <li>
          <span>Created:</span>
          {{ creationDate | creationDate }}
        </li>
      </ul>
      <div class="course-controller">
        <app-button (onClick)="openCourse()" text="SHOW COURSE"></app-button>
        <fa-icon
          *ngIf="isAdmin$ | async"
          [icon]="faPencilAlt"
          (click)="openCourse('/edit')"
          class="icon-btn"
        ></fa-icon>
        <fa-icon
          *ngIf="isAdmin$ | async"
          [icon]="faTrash"
          (click)="openRemoveCourseModal()"
          class="icon-btn"
        ></fa-icon>
      </div>
    </div>
  </div>
</div>
<app-modal
  [title]="'Remove course'"
  [message]="'Do you really want to remove this course?'"
  [okButtonText]="'Remove Course'"
  [cancelButtonText]="'Cancel'"
  (callback)="removeCourse()"
></app-modal>
