.course-card {
  background: #ffffff;
  padding: 1.25rem 1.25rem 1.25rem 2rem;
  border-radius: 4px;
  box-shadow: 0px 0px 15px #333e4850;
  position: relative;
  margin-bottom: 2rem;
}

.course-card::before {
  display: block;
  content: "";
  background-color: #333e48;
  width: 7px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px 0 0 4px;
}

.course-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  text-transform: capitalize;
  color: #000000;
}

p {
  color: #333e48;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.course-feature {
  list-style: none;
  padding: 0;
}

.course-feature li {
  font-size: 16px;
  line-height: 20px;
  color: #333e48;
}

.course-feature li > span {
  font-weight: 700;
}
