<div class="wrapper">
  <h1>{{ title }}</h1>
  <div class="content">
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.value)">
      <label
        >Email
        <input
          ngModel
          type="text"
          email
          required
          placeholder="Input text"
          name="email"
          #email="ngModel"
        />
        <span *ngIf="email.invalid && email.touched" class="error-message">
          Email is required.
        </span>
        <!-- <span
          *ngIf="form.get('name').errors as emailErrors"
          class="error-message"
        >
          {{ emailErrors.message }}</span
        > -->
      </label>
      <label
        >Password
        <input
          ngModel
          type="text"
          required
          placeholder="Input text"
          name="password"
          #password="ngModel"
        />
        <span
          *ngIf="password.invalid && password.touched"
          class="error-message"
        >
          Password is required.
        </span>
      </label>
      <button type="submit" [disabled]="loginForm.invalid">Login</button>
      <p>If you don't have an account you may <b>Registration</b></p>
    </form>
  </div>
</div>
