.content-wrapper {
  background: #e5e5e5;
  display: flex;
  justify-content: center;
  height: calc(100vh - 80px);
  overflow: auto;
}

.main-content {
  max-width: 1120px;
  flex: 1;
  padding: 4.5rem 0;
}
