form.course-search {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  padding-bottom: 2rem;
}

.custom-input {
  background: #ffffff;
  border: 1px solid #cfcfcf;
  border-radius: 4px;
  height: 50px;
}

.course-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
