<app-form title="course edit/create page">
  <form
    class="custom-form"
    #loginForm="ngForm"
    (ngSubmit)="onSubmit(loginForm.value)"
  >
    <h3>Main Info</h3>

    <label
      >Title
      <input
        ngModel
        type="text"
        placeholder="Input text"
        name="title"
        #title="ngModel"
      />
    </label>
    <label>
      Description
      <textarea
        ngModel
        type="text"
        placeholder="Input text"
        name="description"
        #description="ngModel"
      ></textarea>
    </label>

    <h3>Authors</h3>

    <section>
      <label>
        Author Name
        <input
          ngModel
          type="text"
          placeholder="Input text"
          name="author"
          #author="ngModel"
        />
      </label>
      <button>Create Author</button>
    </section>

    <h3>Duration</h3>

    <section>
      <label>
        Duration
        <input
          ngModel
          type="text"
          placeholder="Input text"
          name="duration"
          #duration="ngModel"
        />
      </label>
      00:00 hours
    </section>
    <section>
      <app-button text="Cancel"></app-button>
      <app-button text="Create Course"></app-button>
    </section>
  </form>
</app-form>
